@import url('cores.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body{
  font-family: "Cal Sans", sans-serif;
  background-color: var(--branco);
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

.pagina{
  text-decoration: underline;
}

/* Footer */
footer{
  display: flex;
  background-color: var(--azulheader);
  padding: 35px 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top: solid 3px var(--amarelo);
  min-height: 50px;
}

.logo-footer{
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

footer p{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--branco);
  white-space: nowrap;
  font-size: small;
}

/* Header e Nav */
header{
  display: flex;
  background-color: var(--azulheader);
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo{
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

  /* Barra de Pesquisa Desktop */
  @media screen and (min-width: 769px){
    .pesquisa{
      position: absolute;
      color: var(--branco);
      display: flex;
      left: 50%;
      transform: translateX(-50%);
    }

    .pesquisa input[type="text"]{
      border-radius: 10px; 
      border: none;
      padding: 3px;
      width: 290px;
    }

    .pesquisa-mobile{
      display: none;
    }

  /* Botão Login/Cadastro */
    .login-cadastro{
      display: flex;
      gap: 7px;
    }

    .login-cadastro a{
      border-radius: 17px;
      background-color: var(--azulbotao);
      padding: 5px;
      padding-right: 10px;
      box-shadow: 0px 0px 2px var(--azulbotao);
      text-decoration: none;
      color: var(--branco);
      display: inline;
      align-items: center;
    }
    
    .login-cadastro a:hover{
      background-color: var(--azulbotaohover);
      transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
    }

    .login-cadastro a span{
      margin-right: 3px;
    }
  }

  /* Menu Desktop */
  nav{
    background-color: var(--azulnav);
    display: flex;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 1px;
    gap: 4px;
    border-bottom: solid 3px var(--amarelo);
  }
  nav a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200;
    color: var(--branco);
  }

  nav a:hover{
    background-color: var(--azulhover);
    border-radius: 10px;
    box-shadow: 0px 0px 2px var(--azulhover);
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }

  /* Menu Mobile */
  .menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    position: relative;
    right: 5%;
  }

  .menu-icon span {
    width: 25px;
    height: 3px;
    background: var(--branco);
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  .menu-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: var(--azulnav2);
    border-radius: 15px;
    border: 3px solid var(--branco);
    box-shadow: 0px 0px 3px var(--azulnav2);
    padding: 10px;
    z-index: 100;
    gap: 3px;
  }

  #menu-toggle:checked + .menu-icon + .menu-mobile {
    display: flex;
  }

  .menu-mobile a {
    padding: 10px 0;
    text-decoration: none;
    color: var(--branco);
    border-bottom: var(--branco) 1px solid;
  }

  @media screen and (max-width: 768px) {
    .logo-footer{
      display: none;
    }

    header .pesquisa{
      display: none;
    }

    nav {
      display: flex;
      padding: 25px;
      align-items: center;
    }

    nav a{
      display: none;
    }

    .menu-icon {
      display: flex;
    }

    /* Barra de Pesquisa Mobile */
    .pesquisa-mobile{
      position: absolute;
      color: var(--branco);
      display: flex;
      left: 50%;
      transform: translateX(-50%);
    }

    .pesquisa-mobile input[type="text"]{
      border-radius: 10px; 
      border: none;
      padding: 3px;
    }

    /* Botão Login/Cadastro Mobile */
    .login-cadastro{
      display: none;
    }

    .login-cadastro-mobile{
      display: grid;
      gap: 7px;
      margin-top: 7px;
    }

    .login-cadastro-mobile a{
      border-radius: 17px;
      border: solid 2px var(--branco);
      background-color: var(--azulheader);
      padding: 5px;
      padding-right: 10px;
      box-shadow: 0px 0px 2px var(--azulheader);
      text-decoration: none;
      color: var(--branco);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-cadastro-mobile a:first-child{
      gap: 3px;
    }

    .login-cadastro-mobile a:hover{
      background-color: var(--azulnav);
      transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
    }
  }
