:root{
  --azulheader: #2482C2;
  --azulnav: #176FAC;
  --azulnav2: #1d6ba2;
  --azulhover: #135c90;
  --azulbotao: #2D4696;
  --azulbotaohover: #21326c;
  --branco: #e8e8e8;
  --brancocontainer: #f2f2f2;
  --brancosombra: #bfbfbf;
  --amarelo: #DBD300;
  --preto: #000000:
}